# Logs
logs
*.log
npm-debug.log*

# Dependency directories
frontend/node_modules/
backend/node_modules/

# Environment variables
.env

# Build outputs
dist/
build/

# macOS files
.DS_Store

# Other files to ignore
.idea/
.vscode/
