.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.profile-icon {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.navbar-logo {
  height: 40px;
  
}

.custom-navbar {
  background-color: #4B0082; /* Dark Purple Color */
  color: white;
  z-index: 1000;
  position: fixed;
}

.navbar-brand img {
  filter: brightness(0) invert(1); /* Optional: Invert logo color for dark background */
}

.navbar-brand,
.navbar-text,
.navbar-text .navbar-link {
  color: white !important;
}

.navbar-text .navbar-link:hover {
  color: #ddd; /* Lighter shade on hover */
}

/* src/App.css */
.half-half-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh; /* Covers half of the page vertically */
}

.content-container{
  margin-top: 200px;;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  background-color: #4B0082 !important;;
  font-size: 2rem !important;;
  margin-top: 20px;
  padding: 0.75rem 1.5rem;
}

.logo {
  width: 80%;
  height: 100%;
  margin-top: 300px; 
  
}


.chat-icon {
  width: 60px; 
  height: 100px;
  margin-right: 10px;
}


